<!DOCTYPE html>
<html>
    <head>
        <title>Admin Login | SwiftTech</title>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <section class="hero">
            <h1>Admin Login</h1>
            <form action="/login" method="POST" style="max-width: 400px; margin: auto;">
                <input type="text" name="username" placeholder="username"required />
                <input type="password" name="password" placeholder="password"required />
                <button type="submit">Login</button>
            </form>
        </section>
    </body>
</html>